<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Register</title>

    <!-- Custom fonts for this template-->
    <link href="{{ url_for('static', filename='sb-admin/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{{ url_for('static', filename='sb-admin/css/sb-admin-2.min.css') }}" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Edit a schedule!</h1>
                            </div>
                            <form class="user" method="POST" action="{{ url_for('schedule_edit') }}">
                                <input name="schedule_id" value="{{ schedule.schedule_id or '0' }}" hidden>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <label>Tên hoạt động</label>
                                        <input type="text" class="form-control form-control-user" id="idTenHoatDong"
                                               name="tenHoatDong" value="{{ schedule.activity_name or 'N/A' }}"
                                            placeholder="Tên hoạt động">
                                    </div>
                                    <div class="form-control-user">
                                        <label>Thứ trong tuần</label>
                                        <select name="thuTrongTuan" id="idThuTrongTuan">
                                          <option value="">Chọn thứ trong tuần</option>
                                          <option value="Monday" {% if schedule.day_of_week == 'Monday' %}selected{% endif %}>Monday</option>
                                          <option value="Tuesday" {% if schedule.day_of_week == 'Tuesday' %}selected{% endif %}>Tuesday</option>
                                          <option value="Wednesday" {% if schedule.day_of_week == 'Wednesday' %}selected{% endif %}>Wednesday</option>
                                          <option value="Thursday" {% if schedule.day_of_week == 'Thursday' %}selected{% endif %}>Thursday</option>
                                          <option value="Friday" {% if schedule.day_of_week == 'Friday' %}selected{% endif %}>Friday</option>
                                          <option value="Saturday" {% if schedule.day_of_week == 'Saturday' %}selected{% endif %}>Saturday</option>
                                          <option value="Sunday" {% if schedule.day_of_week == 'Sunday' %}selected{% endif %}>Sunday</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">

                                    <div class="col-sm-6">
                                        <label>Thời gian bắt đầu</label>
                                        <input type="datetime-local" class="form-control form-control-user"
                                               value="{{ schedule.start_time or 'N/A' }}"
                                            id="idTGBD" name="thoiGianBatDau" placeholder="Thời gian bắt đầu">
                                    </div>
                                    <div class="col-sm-6">
                                        <label>Thời gian kết thúc</label>
                                        <input type="datetime-local" class="form-control form-control-user"
                                               value="{{ schedule.end_time or 'N/A' }}"
                                            id="idTGKT" name="thoiGianKetThuc" placeholder="Thời gian kết thúc">
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary btn-user btn-block">Sửa schedule</button>
                                <hr>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{{ url_for('static', filename='sb-admin/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='sb-admin/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{{ url_for('static', filename='sb-admin/vendor/jquery-easing/jquery.easing.min.js') }}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{ url_for('static', filename='sb-admin/js/sb-admin-2.min.js') }}"></script>

</body>

</html>